.menu-bar {
    text-align: center;
}

.menu-bar ul {
    float: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-bar ul li a {
    text-decoration: none;
    color: white;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

.menu-bar li {
    list-style: none;
    margin: 27px;
    font-size: 25px;
}

.menu-bar ul li a:hover {
    color: lightskyblue;
}

body {
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

h1 {
    color: lightskyblue;
    font-size: xx-large;
}

h3 {
    color: lightsteelblue;
    font-size: large;
}

.container {
    width: 50%;
    margin: auto;
    text-align: center;
}

.box {
    background-color: lightslategray;
    text-align: center;
    border: 5px white solid;
    padding: 20px
}